body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
}

section {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.section-gray {
  background-color: #282c34;
}

.section-lightgray {
  background-color: #ccc;
}

.bulb {
  width: 60px;
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
}

button {
  font-size: 20px;
  background-color: white;
}

.dark-text {
  color: black
}
